main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-image: url('../img/background-body.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding:  20px 0px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.295);
    border: 2px solid #790909;
    font-size: 17px;
    width: 80%;
    padding: 20px;
    margin: 0 0 20px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 13px;
    width: 80%;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 3px solid #790909;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../img/front-card.jpg');
    backface-visibility: hidden;
}

.card::hover {
    transform: rotateY(180deg);
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.8;
}

@media screen and (max-width:920px) {
    .grid {
    grid-template-columns: repeat(4, 1fr);
    }
}